<div class="container">
    <div class="pacifico-regular">
      Tipos de Cliente
    </div>
    <div class="agregar">
      <button style="margin-right: 50%; margin-bottom: 2%;" mat-raised-button color="primary" class="btn-volver" routerLink="/menu">Volver</button>
      <button style="margin-bottom: 2%;" mat-raised-button color="primary" class="btn-agregar" routerLink="/tipocliente-dialog">Agregar Tipo Cliente</button>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
        <ng-container matColumnDef="id_Tipocliente">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> ID Tipo Cliente </th>
          <td mat-cell *matCellDef="let element" class="text-center"> {{element.id_Tipocliente}} </td>
        </ng-container>
  
        <ng-container matColumnDef="tipo_Cliente">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Tipo Cliente </th>
          <td mat-cell *matCellDef="let element" class="text-center"> {{element.tipo_Cliente}} </td>
        </ng-container>
  
        <ng-container matColumnDef="descuento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Descuento </th>
          <td mat-cell *matCellDef="let element" class="text-center"> {{element.descuento}} </td>
        </ng-container>
  
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Acciones </th>
          <td mat-cell *matCellDef="let element" class="text-center">
            <mat-icon class="edit" [routerLink]="['/edit-tipocliente', element.id_Tipocliente]">edit</mat-icon>
            <mat-icon class="delete" (click)="eliminarTipoCliente(element)">delete</mat-icon>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
  