<div class="container">
    <form class="menu">
        <h1 class="menu-title">Sistema de Gestión</h1>
        <div class="container">
            <form class="menu">
                <h1 class="pacifico-regular">Sistema de Gestión</h1>
                <div class="menu-buttons">
                    <button class="menu-button bebas-neue-regular" (click)="buttonClicked(1)">Módulo de Ventas</button>
                    <button class="menu-button bebas-neue-regular" (click)="buttonClicked(2)">Módulo de Categorías</button>
                    <button class="menu-button bebas-neue-regular" (click)="buttonClicked(3)">Módulo de Productos</button>
                    <button class="menu-button bebas-neue-regular" (click)="buttonClicked(4)">Módulo de Clientes</button>
                    <button class="menu-button bebas-neue-regular" (click)="buttonClicked(5)">Módulo de Personas</button>
                    <button class="menu-button bebas-neue-regular" (click)="buttonClicked(7)">Módulo de Devoluciones</button>
                    <button class="menu-button bebas-neue-regular" (click)="buttonClicked(8)">Módulo de Proveedores</button>
                    <button class="menu-button bebas-neue-regular" (click)="buttonClicked(9)">Módulo de Almacen</button>
                    <button class="menu-button bebas-neue-regular" (click)="buttonClicked(10)">Módulo de Personas</button>
                    <button class="menu-button bebas-neue-regular" (click)="buttonClicked(11)">Módulo Reportes</button>
                    <button class="menu-button bebas-neue-regular" (click)="buttonClicked(12)">Módulo Tipo Cliente</button>
                    <button class="menu-button bebas-neue-regular" (click)="buttonClicked(13)">Módulo Tipo Empleado</button>
                    <button class="menu-button bebas-neue-regular" (click)="buttonClicked(14)">Módulo Empleado</button>
                </div>
            </form>
        </div>
    </form>
</div>
