table {
  width: 100%;
}

.container{
  position: center; 
}


.categorias-title{
  text-align: center;
  font-size: 35px;
  padding: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.delete{
  cursor: pointer;
  color: #d73616;
  
}

.edit{
  cursor: pointer;
  color:rgb(17, 17, 184);
  
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-size: 60px;
  font-style: normal;
  padding-bottom: 20px;
  text-align: center;
  margin-top: 55px;
}

.agregar{
  display: flex;
  align-items: center;
  margin-top: 4%;
}

.btn-agregar {
  margin-left: auto; /* Mueve el primer botón hacia la derecha */
}

.btn-volver{
  margin-right: auto; /* Mueve el primer botón hacia la derecha */
}

.mat-cell {
  text-align: center; /* Centrar el contenido de las celdas */
}

